@font-face {
  font-family: OstrichSans-Black;
  src: url("../shares/fonts/OstrichSans-Black.otf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

button,
button:active,
button:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

img {
  width: 100%;
}

.measurements img:hover {
  background: #3399ff;
  background: rgba(51, 153, 255, 0.8);
  cursor: pointer;
}

.header {
  position: absolute;
  z-index: 10;
  color: black;
  background: rgb(252, 252, 252);
  background-color: rgba(250, 250, 250, 0.6);
  font-size: 25px;
  font-family: OstrichSans-Black;
  line-height: 40px;
}

.btn {
  width: 40px;
  height: 40px;
  padding: 4px;
  display: block;
  cursor: pointer;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  z-index: 20;
  top: 0px;
  margin-left: 4px;
}

.mapToggleIcon {
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  z-index: 20;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.divider {
  width: 40px;
  height: 20px;
}

.icon {
  padding: 3px;
  height: 40px;
}

.enabled .icon.on,
.off {
  display: block;
}

.enabled .icon.off,
.on {
  display: none;
}

button:active {
  transform: scale(0.95);
}

.aside-mapBtn {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40px;
  top: 40px;
  right: -40px;
  z-index: 20;
  background-color: transparent;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -webkit-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s;
  align-items: center;
  justify-content: end;
}

.mapBtn {
  z-index: 20;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
}

#mapWrapper {
  width: 50%;
  position: absolute;
  z-index: 10;
  margin-top: 40px;
  top: 0;
  right: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  background-color: rgb(58, 68, 84);
  background-color: rgba(58, 68, 84, 0.5);
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  -webkit-transition: transform 0.6s ease-in-out 0.2s;
  transition: transform 0.6s ease-in-out 0.2s;
}

.tooltipItem {
  position: fixed;
  box-sizing: border-box;
  font-size: 12px;
  z-index: 20;
  width: 35px;
  line-height: 30px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  color: rgb(252, 250, 250);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#wrapper {
  width: 100%;
  height: 100%;
}

.resizeMapBtn {
  position: absolute;
  left: 2px;
  bottom: 2px;
  z-index: 20;
  width: 35px;
  height: 35px;
  padding: 0;
  background: transparent;
  border: none;
}

.mapBtn:hover {
  background: #3399ff;
  background: rgba(40, 131, 221, 0.8);
}

@media (hover: none) {
  .mapBtn:hover {
    background: inherit;
  }
}

#resizeMapBtn:hover {
  cursor: nesw-resize;
}

#mapToggleIcon.checked-map {
  background-color: #3399ff;
  background-color: rgba(51, 153, 255, 0.9);
}

@media (min-width: 600px) {
  .aside-mapBtn {
    flex-direction: row;
    width: auto;
    top: 0;
    right: 0;
    height: 40px;
    background-color: rgb(58, 68, 84);
    background-color: rgba(6, 7, 8, 0.6);
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .header {
    font-size: 30px;
    line-height: 47px;
  }

  .aside-mapBtn {
    height: 47px;
  }

  #mapWrapper {
    margin-top: 47px;
  }

  .mapToggleIcon,
  .mapBtn {
    width: 47px;
    height: 47px;
  }

  .btn-back {
    top: 3px;
  }
}

@media (min-width: 991px) {
  .header {
    font-size: 32px;
    line-height: 52px;
  }

  #mapWrapper {
    margin-top: 52px;
  }

  .mapToggleIcon,
  .mapBtn {
    width: 52px;
    height: 52px;
  }

  .aside-mapBtn {
    height: 52px;
  }

  .btn-back {
    top: 6px;
  }
}
